<section id="banner">
    <%- include('partials/header') %>
    <img id="banner-logo" src="/images/finallogo.png" style="width: 200px; height: 150px; margin-top: 18%;"/>
</section>

<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

<main id="main">

<div id="first_page">
    <div id="img1">
    </div>

    <section id="featured-brands">
        <div class="brands-rows" id="textat1">
            <h1>Who are we?</h1>
            <div id="empty1"> </div>
            <p>
                We are rebels with a cause . A cause that aims at a sustainable future for humanity.
            </p>
        </div>
    </section>    
</div>

<div id="first_page">
    <div id="img2"> </div>
    <section id="featured-brands">
        <div class="brands-rows" id="textat1">
            <h1>What do we do?</h1>
            <div id="empty1"> </div>
            <p>
                We help people help the world. Need a tree plantation drive? Blood Donation Camp ?
            </p>
            <p>
                Organize it all within a few minutes.
            </p>
        </div>
    </section>
</div>

<div id="first_page">
    <div id="img3"> </div>
    <section id="featured-brands">
        <div class="brands-rows" id="textat1">
            <h1>What do we offer?</h1>
            <div id="empty1"> </div>
            <p>
                A platform to connect. Reach the right people for the right cause.
            </p>
        </div>
    </section>
</div>


    <%- include('partials/footer') %>