<%- include('partials/header') %>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading_reg"></div>
                <div class="card-body">
                    <h2 class="title">Make Your Mark</h2>
                    <form action="/register" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <input class="input--style-3" type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="password" name="password" placeholder="Password"
                                required>
                        </div>
                        <div class="input-group input--style-3">
                            Profile Picture ( optional)
                            <input class="input--style-3" type="file" name="image">
                        </div>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>